// Import Tailwind layers so we keep all the existing styles
@tailwind base;
@tailwind components;
@tailwind utilities;

// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Import variables (if you want to use them)
@import 'variables';

// Your custom SCSS styles
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}



